exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "adjustcolor")
importFrom("graphics", "grid", "image", "par")
importFrom("stats", "runif")
importFrom("igraph", "graph_from_adjacency_matrix")
importFrom("igraph", "components")
importFrom("igraph", "similarity")
importFrom("igraph", "as.undirected", "cluster_fast_greedy")
importFrom("igraph", "V", "V<-")
